html {
   background-color: #fcfcfc;
}

.bodyText {
    margin-top: 3rem;
}

.boldText {
    font-weight: 800;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: 800;
    text-decoration: none;
}


a:active {
    text-decoration: underline;
}

.footer {
    text-align: center;
    color: rgb(185, 185, 185);
    font-size: 14px;
}